textarea:focus {
  outline: none;
}

.el-popover {
  --el-popover-padding: 0;
}

.el-drawer__body {
  --el-drawer-padding-primary: 0;
}

.el-popconfirm {
  padding: 7px;
}

.el-dialog {
  --el-dialog-border-radius: 0.50rem;
  overflow: hidden;
  padding: 0;

  .el-dialog__header {
    padding: 0;
  }

  .el-dialog__body {
    padding: 0;
  }
}

.el-select {
  width: 100%;
}
