@font-face {
  font-family: 'HarmonyOS Sans';
  src: url('./HarmonyOS_Sans_Thin.ttf') format('truetype'); /* 正常字体文件 */
  font-weight: 200;
}

@font-face {
  font-family: 'HarmonyOS Sans';
  src: url('./HarmonyOS_Sans_Light.ttf') format('truetype'); /* 正常字体文件 */
  font-weight: 300;
}

@font-face {
  font-family: 'HarmonyOS Sans';
  src: url('./HarmonyOS_Sans_Regular.ttf') format('truetype'); /* 正常字体文件 */
  font-weight: normal;
}

@font-face {
  font-family: 'HarmonyOS Sans';
  src: url('./HarmonyOS_Sans_Medium.ttf') format('truetype'); /* 正常字体文件 */
  font-weight: 500;
}

@font-face {
  font-family: 'HarmonyOS Sans';
  src: url('./HarmonyOS_Sans_Bold.ttf') format('truetype'); /* 粗体字体文件 */
  font-weight: bold;
}

@font-face {
  font-family: 'HarmonyOS Sans';
  src: url('./HarmonyOS_Sans_Black.ttf') format('truetype'); /* 粗体字体文件 */
  font-weight: 900;
}